* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Raleway-Black;
  src: url("assets/fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: url("assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("assets/fonts/Raleway-SemiBold.ttf");
}

nav {
  height: 80px;
}

.nav_container {
  display: flex;
  height: 80px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway-Regular;
}

.nav_title {
  padding-left: 50px;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20px;
  padding-right: 40px;
}

li {
  list-style-type: none;
  margin: 5px 15px 5px 10px;
}
