html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Raleway-Black;
  src: url("assets/fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: Raleway-Medium;
  src: url("assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url("assets/fonts/Raleway-SemiBold.ttf");
}

.center {
  display: flex;
  justify-content: center;
}

nav {
  height: 70px;
}

.nav_container {
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway-SemiBold;
}

.nav_title {
  padding-left: 50px;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20px;
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
  text-decoration: none;
  margin: 5px 15px 5px 10px;
}

.chili {
  position: absolute;
  top: 600px;
}

.section_1 {
  display: flex;
  height: 700px;
}

.section1_left {
  width: 70%;
}

.section1_description {
  position: relative;
  top: 200px;
  left: 100px;
}

.s1_title {
  font-family: Raleway-Black;
  font-size: 50px;
  margin-bottom: 20px;
}

.s1_info {
  font-family: Raleway-Medium;
  margin-bottom: 20px;
}

.section1_right {
  background-color: green;
  width: 30%;
}

.check_menu {
  background-color: orange;
  border: 0;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Raleway-SemiBold;
  font-size: 15px;
}

.slideshow {
  position: absolute;
  right: 280px;
  top: 150px;
}

.slideshow_img {
  height: 570px;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.section_2 {
  height: 700px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.section_2_circle {
  position: absolute;
  background-color: green;
  height: 700px;
  width: 700px;
  border-radius: 700px;
  left: -300px;
  z-index: -1;
}

.section2_left_img {
  position: relative;
  object-fit: contain;
  height: 500px;
  left: 50px;
  top: 100px;
}

.section2_right_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 400px;
}

.section_link {
  font-family: Raleway-Regular;
  color: rgb(240, 183, 78);
  padding-bottom: 12px;
}

.section_title {
  font-family: Raleway-SemiBold;
  padding-bottom: 12px;
}

.section_info {
  font-family: Raleway-Regular;
}

.menu_container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_info {
  font-size: 12px;
}

.s3_bottom {
  display: flex;
}

.menu_card {
  height: 250px;
  width: 250px;
  margin: 35px 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 10px 18px #bcbcbc;
}

.menu_burger_img {
  object-fit: contain;
  width: 100%;
}

.food_title {
  font-family: Raleway-Regular;
  padding: 10px 0 10px 10px;
}

.food_info {
  font-family: Raleway-Medium;
  font-size: 13px;
  padding-left: 10px;
}

.grid {
  height: 700px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 0px;
}

.gallery_container {
  margin-bottom: 0;
}

.gallery_img {
  width: 100%;
  height: 100%;
}
